/*---------- GOOGLE FONTS IMPORT ----------*/
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

:root {
  /*---------- TYPOGRAPHY ----------*/
  --header-text: "Staatliches", sans-serif;

  /*----------- COLOURS -----------*/
  --grey: #ececec; /*fallback color for background in case background image does not load*/
  --black: #333; /*for navigation bar*/
  --white: #fff; /*for text in navigation bar*/
}

/* Asterisk wildcard selector */
* {
  padding: 0;
  margin: 0;
}
/*Styling for the body element*/
body {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "Staatliches", sans-serif;
}
/*----------- Navigation bar -----------*/
/*Styling for the navigation bar, add color, and use flexbox to stack logo and menu vertically  */
.navbar {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*Styling for navbar logo, remove underline and display logo above menu using block method*/
.navbar-logo {
  font-size: 24px;
  color: var(--white);
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}
/*Styling for the navbar menu, remove default list style and set margin/padding to zero*/
.navbar-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* Styling for menu items in the navbar, display items horizontally & add space between them */
.navbar-menu ul li {
  display: inline-block;
  margin-right: 20px;
}
/* Styling for the last menu item, remove margin from last item to avoid extra space*/
.navbar-menu ul li:last-child {
  margin-right: 0;
}
/* Styling for links in the navbar menu, remove underline from link and add size and color */
.navbar-menu ul li a {
  text-decoration: none;
  color: var(--white);
  font-size: 18px;
}

/* Media queries for screens up to 799px */
@media (max-width: 799px) {
  body {
    /*Background image setup with fallback options */
    background-image: url("../images/background-image/image-small.webp"),
      url("../images/background-image/fallback-small.jpg"), none;
    background-color: var(--grey);
  }
}

/* Media queries for screens larger than 800px */
@media (min-width: 800px) {
  body {
    /*Background image setup with fallback options */
    background-image: url("../images/background-image/image-medium.webp"),
      url("../images/background-image/fallback-medium.jpg"), none;
    background-color: var(--orange);
  }
  /*Style navigation bar, align logo and menu horizontally */
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
  }
  /*Style logo, align to the end of the container, create space above logo*/
  .navbar-logo {
    align-self: flex-end;
    margin-top: 10px;
  }
}

/* Media queries for screens larger than 1201px */
@media (min-width: 1201px) {
  body {
    /*Background image setup with fallback options */
    background-image: url("../images/background-image/image-large.webp"),
      url("../images/background-image/fallback-large.jpg"), none;
    background-color: var(--orange);
  }
}
