/* Asterisk wildcard selector */
* {
  padding: 0;
  margin: 0;
}

:root {
  /*----------- COLOURS -----------*/
  --grey: #ececec; /*fallback color for background in case background image does not load*/
}
/*Styling for the body element*/
body {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

/* Media queries for screens up to 799px */
@media (max-width: 799px) {
  body {
    /*Background image setup with fallback options */
    background-image: url("../images/background-image/image-small.webp"),
      url("../images/background-image/fallback-small.jpg"), none;
    background-color: var(--grey);
  }
}

/* Media queries for screens larger than 800px and less than 1200px */
@media (min-width: 800px) and (max-width: 1200px) {
  body {
    /*Background image setup with fallback options */
    background-image: url("../images/background-image/image-medium.webp"),
      url("../images/background-image/fallback-medium.jpg"), none;
    background-color: var(--orange);
  }
}

/* Media queries for screens larger than 1201px */
@media (min-width: 1201px) {
  body {
    /*Background image setup with fallback options */
    background-image: url("../images/background-image/image-large.webp"),
      url("../images/background-image/fallback-large.jpg"), none;
    background-color: var(--orange);
  }
}
